<html></html>
<head>

</head>
<body>
	<div class="welcome">
		<h1>Welcome!</h1>

		<p>
			This is the Welcome2 index page.
		</p>

		You can edit this file here: <%= __FILE__ %>

	</div>
</body>
</html>