<head>
	<title>CCSF_RAILS</title>
	<%= stylesheet_link_tag params[:controller] %>
</head>

<div class="welcome">
	This is the Welcome2 index page.

	You can edit this file here: <%= __FILE__ %>
</div>
