<head>
	<title>CCSF_RAILS</title>
	<%= stylesheet_link_tag params[:controller] %>
</head>

<div class="welcome">
	Index of ccsf_rails
</div>
<div>
	You can edit this file here: <%= __FILE__ %>
</div>

