<label> 
	Website to manage your online classes: <a href="https://insight.ccsf.edu/">CCSF Insight</a> 
</label>
</br>
<label>
	Ruby on rails tutorial: <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Tutorial</a> 
</label>
